@import '@picocss/pico/css/pico.css';

/* BASE STYLES */
#root { min-height: 100vh; }
:root {
    --primary: #BF371F  !important;
    --primary-hover: #b75543 !important;
    --contrast: #ddca93 !important;
    --contrast-hover: white !important;
    --variation: rgba(196, 196, 196, .15);
}
.wrapper {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}
main {
    flex: 1;
}


/* Buttons */
button.round, a[role=button].round{
    border-radius: 50%;
    padding: calc(var(--form-element-spacing-vertical) / 2) calc(var(--form-element-spacing-vertical) / 2.7)
}

/* Header */
header{    
    z-index: 1;
    position: fixed;
    width: 100%;
}
nav button, a[role=button]{
    margin-right: calc(var(--typography-spacing-vertical)/ 4);
    padding: calc(var(--form-element-spacing-vertical) / 2) var(--form-element-spacing-horizontal);
}
header:not(.waves){
    background-color: #bf371f;
}
header.waves {
     border-color: transparent;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    background-image: url(assets/img/wave-header.svg);
    background-position: 0 90%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 30px;
}

/* HOME */

/* Sections */
body section:last-child{
    padding-bottom: var(--block-spacing-vertical);
}
section {
    padding-top: var(--block-spacing-vertical);
}
section h2 {
    color: var(--primary);
}
section h2:after{
    content: "...";
    color: var(--primary);
    display: block;
}
section .container {
    text-align: center;
}

section.variation {
    background-color: var(--variation);
}

/* Upload Hero */
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
}
.hero.background-image-container {
    text-align: center;
    background-image: url('assets/img/wave-hero-background.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}
.hero .grid>div {
    position: relative;
}

.hero h1 {
    --color: white
}

.hero h6 {
    --color: var(--primary-inverse)
}

/* Uploader */
.uploader {
    position: absolute;
    top: 100%;
    width: 100%;
}
.uploader article {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    min-height: 25vh;    
    cursor: pointer;
    transition: color var(--transition), border-color var(--transition);
}
.uploader article svg {
    width: 50px;
    height: auto;
    margin: var(--spacing)
}
.uploader article span {
    padding: var(--block-spacing-vertical) 0;
    border: 1px dashed var(--color);
    border-radius: var(--border-radius);
    width: 100%;
}
.uploader article:hover span, .uploader article span.active{
    border-color: var(--primary)
}
.uploader article small {
    display: block;
}
.uploader article:hover small, .uploader article span.active small {
    color: var(--primary);
}
.uploader article:hover svg, .uploader article span.active svg {
    fill: var(--primary);
}
.uploader ul li{
    text-align: left;
    list-style-type: none;
    font-size: 0.75em
}


/* FOOTER */
footer {
    background-image: url(assets/img/wave-footer.svg);
    padding-top: 60px;
    margin-top: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
footer.grid{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
footer p{
    border-top: 1px solid var(--contrast);
    padding: var(--typography-spacing-vertical) 0;
    margin-bottom: 0;    
    margin-top: var(--typography-spacing-vertical);
    text-align: center;
    --color: white;
}
footer .copy i{

}
footer .copy a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}
footer .copy a:hover{
    text-decoration: underline;
}