@import '@picocss/pico/css/pico.css';

/* BASE STYLES */
:root {
    --primary: #BF371F  !important;
    --primary-hover: #b75543 !important;
    --contrast: #ddca93 !important;
    --contrast: #ddca93 !important;
    --contrast-hover: white;
    --contrast-inverse: #000 !important;
    --variation: rgba(196, 196, 196, .15);
}
[data-theme=light], :root:not([data-theme=dark]) {
    --icon-file: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor' %3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M7 21h10a2 2 0 002-2V9.414a1 1 0 00-.293-.707l-5.414-5.414A1 1 0 0012.586 3H7a2 2 0 00-2 2v14a2 2 0 002 2z' /%3E%3C/svg%3E");
}
[data-theme=dark], :root:not([data-theme=light]) {
    --icon-file: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='lightGray' %3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M7 21h10a2 2 0 002-2V9.414a1 1 0 00-.293-.707l-5.414-5.414A1 1 0 0012.586 3H7a2 2 0 00-2 2v14a2 2 0 002 2z' /%3E%3C/svg%3E")  
}
main {
    flex: 1;
}
#root { 
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}
.centered{
    text-align: center;
}

/* Animations */
@keyframes fadeOut { 
    0% { opacity: 1; display: block; } 
    100% { opacity: 0; display: none; }
}
@keyframes wiggle{
    0%{ transform:rotate(0)cale(1) }
    60%{ transform:rotate(0) scale(1) }
    75%{ transform:rotate(0) scale(1.12) }
    80%{ transform:rotate(0) scale(1.1) }
    84%{ transform:rotate(-10deg) scale(1.1) }
    88%{ transform:rotate(10deg) scale(1.1) }
    92%{ transform:rotate(-10deg) scale(1.1) }
    96%{ transform:rotate(10deg) scale(1.1) }
    100%{ transform:rotate(0) scale(1) }
}

.prose{
    text-align: left;
}

/* Loader */
.loader {
    position: fixed;
    top: 0;	
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

/* Buttons */
button{
    margin-bottom: 0;
}
button.round, a[role=button].round{
    border-radius: 50%;
    padding: calc(var(--form-element-spacing-vertical) / 2) calc(var(--form-element-spacing-vertical) / 2.7)
}
button.transparent, a[role=button].transparent{
    --background-color: transparent;
    --color: var(--primary);
    border: none;
}
button.transparent:hover, a[role=button].transparent:hover{
    --background-color: transparent;
    --color: var(--primary-hover);
    border: none;
}
button.contrast:hover, a[role=button].contrast:hover{
    --background-color: #ae9569;
    --border-color: #ae9569;
}
button.icon, a[role=button].transparent{
    position: relative;
    display: inline;
    height: 20px;
    width: 20px;
    padding: 15px;
    border-radius: 50%;
    margin: 0;
}
button.icon svg{
    margin: 0;
    padding: 0;
    position: absolute;    
    height: 20px;
    width: 20px;
    top: 5px;
    left: 5px;
}
button img, a[role="button"] img {
    margin-right: calc(var(--spacing) / 2);
    height:20px;
    display: initial;
    animation: wiggle 3s infinite;
}
/* Header */
#root>header{    
    z-index: 1;
    position: fixed;
    width: 100%;
}
nav button, nav a[role=button]{
    margin-right: calc(var(--typography-spacing-vertical)/ 4);
    padding: calc(var(--form-element-spacing-vertical) / 2) var(--form-element-spacing-horizontal);
}
#root>header:not(.waves){
    background-color: #bf371f;
}
#root>header.waves {
     border-color: transparent;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    background-image: url('assets/img/wave-header.svg');
    background-position: 0 90%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 30px;
}

/* HOME */

/* Sections */
section {
    padding: var(--block-spacing-vertical) 0;    
}
section#policy{
    margin-top: calc(var(--spacing) * 2);
}
section:first-of-type {
    padding-top: calc(var(--form-element-spacing-vertical) * 8);
}
section h2 {
    color: var(--primary);
}
section h2:after{
    content: "...";
    color: var(--primary);
    display: block;
}

@media (min-width: 768px) {
    section a img {
        max-width: 40vw;
    }
}
@media (min-width: 992px) {
    section a img {
        max-width: 30vw;
    }
}

@media (min-width: 1200px) {
    section a img {
        max-width: 20vw;
    }
}
section .container {
    text-align: center;
}

section.variation {
    background-color: var(--variation);
}

/* Upload Hero */
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
}
.hero.background-image-container {
    text-align: center;
    background-image: url('assets/img/wave-hero-background.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}
.hero .grid>div {
    position: relative;
}

.hero h1 {
    --color: white
}

.hero h6 {
    --color: var(--contrast)
}

/* Uploader / Downloader */
.hero .uploader, .hero .downloader {
    position: absolute;
    top: 100%;
    width: 100%;
}
.uploader article, .downloader article {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 24vh;
    transition: color var(--transition), border-color var(--transition);
}
.uploader article svg.action, .downloader article svg.action {
    width: 50px;
    height: auto;
    margin: var(--spacing);
}
.uploader article div, .downloader article div {
    padding: var(--spacing) 0;
    border: 1px dashed var(--color);
    border-radius: var(--border-radius);
    width: 100%;
    flex: 1;    
    cursor: pointer;
}
.uploader article div:hover, .uploader article div.active{
    border-color: var(--primary)
}
.uploader article small {
    display: block;
}
.uploader article div:hover small, .uploader article div.active small {
    color: var(--primary);
}
.uploader article div:hover>svg, .uploader article div.active svg {
    fill: var(--primary);
}

/* Files list */

/* List */
ul li[data-type=file] {
    position: relative;
    list-style-type: none;
    text-align: left;
    font-size: 0.75em;
    vertical-align: bottom;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
}
ul li[data-type=file] span::before {
    content: '';
    display: inline-block;
    height: 20px;
    width: 18px;
    margin-right: 5px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: var(--icon-file);
    color: var(--color);
}
ul li[data-type=file] span {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul li[data-type=file] span i{
    flex: 1;
    overflow-x: hidden;
    text-overflow: ellipsis;
}
ul li[data-type=file] span button{
    margin: 0 20px;
}
ul li[data-type=file] progress{    
    display: block;
    margin-left: 22px;
    margin-top: calc(var(--spacing) * 0.2);
    width: calc(100% - 44px);
    transition: all 500ms ease-in-out;
}

/*  CALL TO ACTION */
#callToAction .grid{
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: var(--block-spacing-vertical);
}

/* MANAGER */
section#manage{
    min-height: 65vh;
}
section#manage .container{
    text-align: left;
}
table[aria-busy=true]::before{
    position: absolute;
    left: 50%;
    margin-top: var(--block-spacing-vertical);
}
table td {
    transition: all 500ms ease-in;
}
table td progress {
    margin-top: calc(var(--spacing) * .5)
}
/* FOOTER */
footer {
    background-image: url('assets/img/wave-footer.svg');
    padding-top: 60px;
    margin-top: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;    
    z-index: 1;
}
footer.grid{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
footer nav{
    justify-content: center;
}
footer div{
    text-align: center;
}
@media (min-width: 992px){
    footer nav{
        justify-content: flex-end;
    }
    footer div{
        text-align: left;
    }
}
footer p{
    border-top: 1px solid var(--contrast);
    padding: var(--typography-spacing-vertical) 0;
    margin-bottom: 0;    
    margin-top: var(--typography-spacing-vertical);
    text-align: center;
    --color: white;
}
footer .copy a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}
footer .copy a:hover{
    text-decoration: underline;
}

/* MODAL */
div[role="alertdialog"]{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(196, 196, 196, .15);
    backdrop-filter: blur(5px);
}
div[role="alertdialog"] .content{
    width: 100vw;
}
@media(min-width: 768px){
    div[role="alertdialog"] .content{
        width: 80vw;
    }
}
@media(min-width: 992px){
    div[role="alertdialog"] .content{
        width: 60vw;
    }    
}
@media(min-width: 1200px){
    div[role="alertdialog"] .content{
        width: 40vw;
    }  
}
body.modal-open{
    overflow: hidden;
}